@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

.logo {
  height: 70px
}
.logo img {
  height: 100%;
  padding: 10px 20px;
}

.perfil__restaurant {
 
  font-family: 'Poppins', sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

textarea{
  font-family: 'Poppins', sans-serif;
  border: 1px solid #3187b8;
  border-radius: 7px;
}

.perfil__restaurant--img {
  width: 70px;
}

.perfil__restaurant--upload {
  color: #3187b8;
  text-decoration: none;
  font-size: .7em;
}

.perfil__restaurant--form{
  width: 300px;
}

.perfil__restaurant--form form{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  gap: 12px;
}

.perfil__restaurant--form form label{
  font-size: .8em;
}

.perfil__restaurant--form input {
  border: none;
  border-bottom: 1.5px solid #3187b8;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

select {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #3187b8;
  background-color: #fff;
  border-radius: 7px;
}

.perfil__restaurant--btn {
  display: block;
  margin: 0 auto;
  padding: 8px 17px;
  transition: .2s all ease-in-out;
  background-color: #dd5065;
  color: #fff;
  border: 1px solid#dd5065;
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
}

.perfil__restaurant--btn:hover {
  background-color: #0d3b58;
  color: #fff;
  border: 1px solid #0d3b58;
}

::placeholder {
  color: #000;
}

textarea:focus, input:focus{
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

/* feed */

.stories {
  display: flex;
  gap: 20px;
}

.story img , .feed__post--data img{
  height: 40px;
  border-radius: 50%;
  border: 2px solid #3187b8;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-size: .9em;
}

.feed__post {
  display: flex;
  flex-direction: column;

}

.feed__post--data {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.feed__post--info img {
  max-width: 300px;
  margin: 0 auto;
}

.feed__post--comment {
  width: 300px;
}

.feed__post--comment textarea {
  width: 300px;
}

.feed__post--like-share {
  display: flex;
  gap: 15px;
}

i {
  font-size: 19px;
  color: #3187b8;
}
.home-img img{
  height: 40px;
}

footer {
  display:flex;
  justify-content: space-around;
}

.search__results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
}

.search__results img {
  height: 90px;
}

.search__results img{
  filter:  grayscale(1) brightness(40%);
}
      
.search__results img {
  transition: clip-path 0.5s
}
 
.search__results img:hover{
  transition:all 0.4s ease-out; 
  filter: none;
}

.search__result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search__result p {
  font-size: .8em;
}

.wrap-search {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.search__input {
  border: 1px solid #0d3b58;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.search__input input {
  border: none;
  width: 80%;
}

.search__input input::placeholder{
  color: #3187b8;
  font-size: .9em;
}

.search__result--btn {
  text-decoration: none;
  margin: 0 auto;
  padding: 8px 17px;
  transition: .2s all ease-in-out;
  background-color: #dd5065;
  color: #fff;
  border: 1px solid#dd5065;
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
}

.search__result--btn:hover {
  background-color: #0d3b58;
  color: #fff;
  border: 1px solid #0d3b58;
}

